:root {
    --accent: red;
    --primary: red;
    --secondary: red;
    --bg-color: red;
    --text-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}