:root {
    --accent: #5A7863;
    --primary: #5A7863;
    --secondary: #90AB8B;
    --bg-color: #3B4953;
    --text-color: #EBF4DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

/*Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    scroll-behavior: smooth;
}
nav .nama {
    
}