:root {
    --accent: #EBF4DD;
    --primary: #90AB8B;
    --secondary: #5A7863;
    --bg-color: #FCFFF7;
    --text-color: #3B4953;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

/*Navigation*/
nav {
  
}