:root {
    --bg-color: #F9F9F9;
    --text-color: #4A4A4A;
    --pastel-peach: #FFDFD3;
    --pastel-purple: #E0BBE4;
    --pastel-blue: #D4F1F4;
    --accent: #957DAD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

/*/ navigation /*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10%;
    align-items: center;
}
nav .logo {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--accent);
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 2rem;
}
nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    transition: 0.3s;
}
nav ul li a:hover {
    color: var(--accent);
}